* {
    font-family: 'Lato', sans-serif;
}

body {
    max-width: 720px;
    max-height: 2000px;

    margin: 0 auto;
    background-color : #F2F2F2;
}

#main {
    background-image: url('https://mblogthumb-phinf.pstatic.net/MjAxNzEwMjdfMjgx/MDAxNTA5MTAzNjMxNDQ1.JDC7Ti3QX46TeOTgVEv0pv98kqeWjLAdKGuu79a6Lncg.6EUmvZZtsf5XdonHT9EdixWNiRLA4od9m8CqSoBsMKcg.PNG.23yeon0726/%ED%9D%B0%EB%91%A58.png?type=w2');
    padding: 10% 0% 10% 10%;
    max-width: 720px;
    max-height: 2000px;
    height: 100%;
    width: 100%;
    background-color : #F2F2F2;
}

#header {
    align-items: center;
    width: 90%;
    max-width: 720px;
    height: 500px;
    border: 6px solid #0D0D0D;
    border-radius: 5%;
    opacity: 0.8;
}


#body .custom-btn{
    margin-top: 3%;
    margin-left: 7%;
    width: 75%;
    height: 10%;
    border: 6px solid #0D0D0D;
    border-radius: 10%;

    color: #fff;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
#body .btn-1 {
    background: #F2B544;
    background: linear-gradient(0deg, #f0a926 0%, #f09e06 100%);
}
#body .btn-1:hover {
    background: #f08b66;
    background: linear-gradient(0deg, #f08b66 0%, #f0b7a2 100%);
}

#body p{
    background-color : #F2CD5C;
    position: relative;
    display: inline-block;

    margin-top: 3%;
    width: 90%;
    max-width: 720px;
    border: 6px solid #262626;
    border-radius: 5%;

    color: #262626;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 130%;
}
#body pre{
    margin-top: 3%;
    width: 90%;
    max-width: 720px;
    border: 6px solid #262626;
    border-radius: 5%;

    color: #262626;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    opacity: 0.8;
}