<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<script>
  function posting() {
    let file = $('#file')[0].files[0]
    let form_data = new FormData()

    form_data.append("file_give", file)

    $.ajax({
        type: "POST",
        url: "/fileupload",
        data: form_data,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
            alert(response["result"])

        }
    });
  }

</script>
<body>
  <div class="file-upload">
    <img style="display: none;" id="frame" src="" width="300px"/>
    <input type="file" id="file" onchange="preview()">
    <button onclick="posting()">고양이일까? 강아지일까?</button>
  </div>
</body>
</html>